.MyBtn {
    padding: 5px 15px;
    font-size: 14px;
    background: transparent;
    border: 1px solid;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .primary {
    color: blue;
    border-color: blue;
  }
  
  .secondary {
    color: #007bff;
    border-color: #007bff;
  }
  