/* Form.css */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    background-color: #007bff;
  
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  p {
    color: rgb(214, 48, 48);
    font-size: 12px;
    margin-top: 5px;
  }
  
  